body {
    font-family: 'Arial', sans-serif;
    background-image: url("./Images/livrerecette.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    font-size: 50px;
    color: #000000;
    text-shadow: 2px 2px 4px #ffffff;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 400px;
    margin-left: 80px;
    margin-right: 40px;
    text-align: center;
    text-decoration: none;
    background-color: #000000;
    color: white;
    border: 2px solid #f7f7f7;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: white;
    color: #000000;
}